//Colors
$lightcyan:#70cfff;
$cyan:#42c0ff;
$purplish:#5a518a;
$blue:#5959fc;
$blueish:hsl(233, 56%, 47%);
$pinkish:#b75aba;
$lightpink:rgb(223, 130, 226);
$lightergray: hsl(226, 41%, 95%);
$lightgray: #e2e6f3;
$gray: #babecb;
$darkgray: rgb(148, 151, 164);
$darkergray: #6c6f7c;
$verydarkgray: hsl(0, 0%, 22%);
$semitransparent: rgba(0, 0, 0, 0.068);
$black:#000000;
$white: #ffffff;

//Font Sizes
$font-xlg: 3.25rem; //52px
$font-lrgmed: 2.25rem; //52px
$font-lrg: 1.5rem; //20px
$font-med: 1.125rem; //18px
$font-sm: 0.875rem;  //14px
$font-xsm: 0.75rem;  //12px
$font-xxsm: 0.625rem;  //10px
$font-xxxsm: 0.5rem;  //8px